*{
    margin:0;
    padding:0;
    box-sizing: border-box;

}

body{
    display:flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-image: url('carlos-torres-MHNjEBeLTgw-unsplash.jpg');
    /* background-size:100%,100%; */
    background-size: cover;
}
.container{
    max-width: 450px;
    background: #3891a8;
    border-radius:8px;
    box-shadow: 0px 0px 15px 3px rgba(40, 79, 79, 0.4);
    font-family: sans-serif;
    padding: 20px;
}

.title{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap-reverse;
    gap: 10px;
}

.Temperature-icon{
    font-size: 45px;;
    color: #fff;
}

h1{
    color: #fff;
    letter-spacing: 1.2px;
    font-size:30px;
}

#celcius, #fahrenheit, #kelvin{
    display:flex;
    justify-content: center;
    align-items: center;
    margin-top: 25px;
}

input{
    flex: 5;
    height: 60px;
    font-size: 20px;
    font-weight: 600;
    text-align: center;
    border: none;
    outline: none;
    border-radius:8px 0 0 8px;
    padding: 0 10px;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button{
    -webkit-appearance: none;
}

.icon{
    margin-top: 25px;
    flex:1;
    height: 60px;
    line-height: 60px;
    padding: 0 5px;
    text-align: center;
    font-size: 30px;
    background: #4d5964;
    color: #fff;
    border-radius: 0 8px 8px 0;
}

.button{
    margin-top: 25px;
    text-align: center;
}

.button button{
    border: none;
    outline: none;
    padding: 10px 30px;
    font-size: 20px;
    font-weight: 600;
    border-radius: 3px;
    cursor: pointer;
    transition:0.3s;
}
.button button:hover{
    background: #000;
    color:#fff;
}
:host, :root {
    --fa-style-family-classic: "Font Awesome 6 Free";
    --fa-font-solid: normal 900 1em/1 "Font Awesome 6 Free";
}

:host, :root {
    --fa-font-regular: normal 400 1em/1 "Font Awesome 6 Free";
}
:host, :root {
    --fa-style-family-brands: "Font Awesome 6 Brands";
    --fa-font-brands: normal 400 1em/1 "Font Awesome 6 Brands";
}
.C{
    display: flex;
    flex-direction: row;
}